{% extends 'PaymentApplicationBundle::layout.html.twig' %}
{% block title %}Editar Usuario - {{ parent() }} {% endblock %}
{% block javascripts %}
 {{ parent() }}
 <script type="text/javascript" src="{{ asset('bundles/paymentsecurity/js/administrator.js') }}"></script>
<script type="text/javascript">
loadEvents();
</script>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/paymentsecurity/css/security.css') }}" />
{% endblock %}

{% block content %}
{% if title == 'Editar' %}
{% form_theme form 'PaymentSecurityBundle:Administration:form.edit.html.twig' %}
{% else %}
{% form_theme form 'PaymentSecurityBundle:Administration:form.html.twig' %}
{% endif %}

<form action="{{ path('_editUser') }}" method="post" {{ form_enctype(form) }} id="userEdit">
<div id="contentLeft">
 {% for flashMessage in app.session.flashbag.get('message') %}
    <div class="flash-message">
        {{ flashMessage|trans({}, 'FOSUserBundle') }}
    </div><br>
{% endfor %}

{{ app.session.flashbag.set('message', '')}}

{{ form_errors(form.canonical) }}
{{ form_errors(form.name) }}
{{ form_errors(form.lastname) }}
{{ form_errors(form) }}
&nbsp;
</div>
<div id="contentRight">
<table id="tableEditUser">
<tr>
<td class="title" valign="top">{{ form_label(form.canonical) }}</td>
<td>{{ form_widget(form.canonical, { 'attr': {'class': 'required', 'style': 'text-transform:lowercase'} }) }} </td>
</tr>
<tr>
<td class="title" valign="top">{{ form_label(form.name) }}</td>
<td>{{ form_widget(form.name, { 'attr': {'class': 'required'} }) }} </td>
</tr>
<tr>
<td class="title" valign="top">{{ form_label(form.lastname) }}</td>
<td>{{ form_widget(form.lastname, { 'attr': {'class': 'required'} }) }} </td>
</tr>
{{ form_widget(form.plainPassword) }} 
{{ form_widget(form.email) }}   
<tr>
<td class="title" valign="top">{{ form_label(form.rol) }}</td>
<td>{{ form_widget(form.rol) }} </td>
</tr>
<tr>
<td class="title" valign="top">{{ form_label(form.enabled) }}</td>
<td>{{ form_widget(form.enabled) }}  {{ form_rest(form) }}</td>
</tr>
<tr>

<td height="50px;" align="right" valign="bottom">
 <input type="submit" value="Guardar" name="btsend" id="button_enter"/>
 <input type="button" value="Cancelar" id="button_enter" onclick="javascript:location.href='{{ path('_listUser') }}'"/>

</td>
</tr>
</table>
<input type="hidden" name="band" value="1">

</form>
</div>
{% endblock %}