<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#FFFFFF"><div>
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td style="width:289px; height:121px; float:left; "><img src="{{ url('logo_imageleft') }}" border="0"></div></td>
          <td width="100%" background="{{ url('logo_imagecenter') }}" style="background-repeat:repeat-x">&nbsp;</td>
          <td><div style="width:240px; height:121px; float: right; "><img src="{{ url('logo_imageright') }}" border="0"></div></td>
        </tr>
      </table>
    </div></td>
  </tr>
  <tr>
    <td style="padding:20px;" align="center"><div style="padding:30px; border:1px; color:#95001d; border-style: solid; background-color:#e9e9e9; width:50%;"><div style="font: Verdana, Geneva, sans-serif; color: #606060; font-size:11px; text-align:left"><font color="#990000" style="font-weight:bold">Estimad@ {{ user.username }} ! <br />
      <br />
      </font> Para cambiar su contrase&ntilde;a ingrese al siguiente link: <br />
      <br />
      <a href="{{ confirmationUrl }}">Cambiar contrase&ntilde;a</a> <br />
      <br />
      Si el link no se abre, por favor copie y pegue la siguiente direcci&oacute;n en su explorador: <br />
      <br />
      {{ confirmationUrl }} <br />
      <br /><font color="#000000" style="font-weight:bold">
        Atentamente, <br />
    Genera Cr&eacute;dito </font></div></div></td>
   
  </tr>
  <tr>
    <td></td>
  </tr>
 
</table>